# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
csharp_space_after_cast = true
charset = utf-8-bom
max_line_length = 100
