[submodule "lib/SDL2-CS"]
	path = lib/SDL2-CS
	url = https://github.com/flibitijibibo/SDL2-CS.git
[submodule "lib/FAudio"]
	path = lib/FAudio
	url = https://github.com/FNA-XNA/FAudio.git
[submodule "lib/dav1dfile"]
	path = lib/dav1dfile
	url = https://github.com/MoonsideGames/dav1dfile.git
[submodule "lib/RefreshCS"]
	path = lib/RefreshCS
	url = https://github.com/MoonsideGames/RefreshCS.git
[submodule "lib/WellspringCS"]
	path = lib/WellspringCS
	url = https://github.com/MoonsideGames/WellspringCS.git
