<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL3" os="windows" target="SDL3.dll"/>
	<dllmap dll="SDL3" os="osx" target="libSDL3.0.dylib"/>
	<dllmap dll="SDL3" os="linux,freebsd,netbsd" target="libSDL3.so.0"/>

	<dllmap dll="FAudio" os="windows" target="FAudio.dll"/>
	<dllmap dll="FAudio" os="osx" target="libFAudio.0.dylib"/>
	<dllmap dll="FAudio" os="linux,freebsd,netbsd" target="libFAudio.so.0"/>

	<dllmap dll="Wellspring" os="windows" target="Wellspring.dll"/>
	<dllmap dll="Wellspring" os="osx" target="libWellspring.1.dylib"/>
	<dllmap dll="Wellspring" os="linux,freebsd,netbsd" target="libWellspring.so.1"/>

	<dllmap dll="dav1dfile" os="windows" target="dav1dfile.dll"/>
	<dllmap dll="dav1dfile" os="osx" target="libdav1dfile.1.dylib"/>
	<dllmap dll="dav1dfile" os="linux,freebsd,netbsd,openbsd" target="libdav1dfile.so.1"/>

	<dllmap dll="IRO" os="windows" target="IRO.dll"/>
	<dllmap dll="IRO" os="osx" target="libIRO.1.dylib"/>
	<dllmap dll="IRO" os="linux,freebsd,netbsd,openbsd" target="libIRO.so.1"/>
</configuration>
